In [2]:
import pandas as pd
df_loan = pd.read_csv("/Users/mxfmeng/Desktop/FinRisk-Prediction/GraduationDesign/MLmodels/dataset/loan_new_3_1.csv")
df_loan.drop(columns=['loan_status','label'], inplace=True)
df_loan

,loan_amnt,term,int_rate,installment,grade,emp_length,home_ownership,annual_inc,verification_status,purpose,...,revol_bal,revol_util,total_acc,total_pymnt,total_rec_late_fee,last_pymnt_amnt,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal
0,27050.0,0,10.99,885.46,4,12,3,55000.0,2,2,...,36638.0,61.2,27.0,21251.04,0.0,885.46,0,0.0,0.0,114834.0
1,9750.0,0,13.98,333.14,3,2,1,26000.0,0,2,...,7967.0,52.8,28.0,7994.83,0.0,333.14,0,0.0,0.0,14123.0
2,12000.0,0,6.62,368.45,5,12,2,105000.0,0,2,...,13168.0,21.6,22.0,8842.80,0.0,368.45,0,0.0,0.0,267646.0
3,12000.0,0,13.53,407.40,4,12,1,40000.0,1,2,...,5572.0,68.8,32.0,13359.77,0.0,119.17,0,0.0,15386.0,13605.0
4,15000.0,0,8.90,476.30,5,3,2,63000.0,0,2,...,11431.0,74.2,29.0,11431.20,0.0,476.30,0,0.0,1514.0,272492.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
816717,10000.0,0,11.99,332.10,4,9,1,31000.0,2,2,...,14037.0,82.1,15.0,3971.88,0.0,332.10,0,0.0,0.0,25274.0
816718,24000.0,0,11.99,797.03,4,12,2,79000.0,2,4,...,8621.0,84.5,23.0,9532.39,0.0,797.03,0,0.0,0.0,140285.0
816719,13000.0,1,15.99,316.07,2,6,1,35000.0,2,2,...,11031.0,61.3,22.0,3769.74,0.0,316.07,0,0.0,0.0,34178.0
816720,12000.0,1,19.99,317.86,1,2,1,64400.0,1,2,...,8254.0,30.6,20.0,3787.67,0.0,317.86,0,0.0,0.0,58418.0
816721,20000.0,0,11.99,664.20,4,12,1,100000.0,2,1,...,33266.0,79.8,10.0,7943.76,0.0,664.20,0,0.0,0.0,33307.0

In [10]:
df_tmp = df_loan.iloc[[0]]
type(df_tmp.T)

pandas.core.frame.DataFrame