In [5]:
import pandas as pd
df_loan = pd.read_csv("/Users/mxfmeng/Desktop/FinRisk-Prediction/GraduationDesign/MLmodels/dataset/loanData(no preprocessing).csv")
# df_loan.drop(columns=['loan_status','label'], inplace=True)
df_loan

,loan_amnt,term,int_rate,installment,grade,emp_length,home_ownership,annual_inc,verification_status,purpose,...,revol_util,total_acc,total_pymnt,total_rec_late_fee,last_pymnt_amnt,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,label
0,14400.0,60 months,21.00,389.57,E,5 years,MORTGAGE,72000.0,Source Verified,home_improvement,...,50.0,41.0,19971.279988,0.0,10621.60,INDIVIDUAL,0.0,0.0,233557.0,0
1,16800.0,60 months,14.49,395.19,C,8 years,OWN,57000.0,Verified,small_business,...,21.7,27.0,18581.960000,0.0,15420.44,INDIVIDUAL,0.0,0.0,148290.0,0
2,12000.0,60 months,15.61,289.34,D,1 year,RENT,100000.0,Not Verified,credit_card,...,80.2,4.0,857.610000,0.0,289.34,INDIVIDUAL,0.0,0.0,12508.0,1
3,12800.0,60 months,12.99,291.18,C,10+ years,RENT,137000.0,Verified,debt_consolidation,...,51.7,39.0,14210.080000,0.0,11589.46,INDIVIDUAL,0.0,0.0,99900.0,0
4,5000.0,36 months,9.17,159.40,B,10+ years,MORTGAGE,35000.0,Source Verified,home_improvement,...,41.4,21.0,631.230000,0.0,159.40,INDIVIDUAL,0.0,0.0,11891.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
773943,10425.0,36 months,18.25,378.20,D,< 1 year,RENT,35000.0,Not Verified,debt_consolidation,...,83.3,40.0,12179.800000,0.0,8019.60,INDIVIDUAL,0.0,0.0,48219.0,0
773944,7000.0,36 months,19.24,257.45,E,< 1 year,RENT,45000.0,Verified,debt_consolidation,...,38.9,88.0,3081.920000,0.0,257.45,INDIVIDUAL,0.0,0.0,230058.0,1
773945,25000.0,36 months,7.62,779.04,A,9 years,MORTGAGE,74000.0,Verified,debt_consolidation,...,19.8,11.0,27180.990000,0.0,14716.35,INDIVIDUAL,0.0,0.0,29307.0,0
773946,9000.0,36 months,16.55,318.87,D,3 years,RENT,25000.0,Source Verified,debt_consolidation,...,61.3,24.0,1896.670000,0.0,318.87,INDIVIDUAL,0.0,444.0,8300.0,1
773947,20000.0,36 months,12.99,673.79,C,10+ years,MORTGAGE,115000.0,Source Verified,debt_consolidation,...,21.8,29.0,20300.800000,0.0,20315.23,INDIVIDUAL,0.0,0.0,25077.0,0

In [6]:
df_loan['term'].value_counts()

term
 36 months    532288
 60 months    241660
Name: count, dtype: int64

In [7]:
df_loan['grade'].value_counts()

grade
B    220617
C    218883
A    125163
D    122309
E     62290
F     20072
G      4614
Name: count, dtype: int64

In [8]:
df_loan['application_type'].value_counts()

application_type
INDIVIDUAL    773498
JOINT            450
Name: count, dtype: int64

In [18]:
df_loan['addr_state'].value_counts().keys()

Index(['CA', 'NY', 'TX', 'FL', 'IL', 'NJ', 'PA', 'OH', 'GA', 'VA', 'NC', 'MI',
       'MD', 'MA', 'AZ', 'WA', 'CO', 'MN', 'IN', 'MO', 'TN', 'CT', 'NV', 'WI',
       'AL', 'OR', 'LA', 'SC', 'KY', 'OK', 'KS', 'AR', 'UT', 'NM', 'HI', 'NH',
       'WV', 'MS', 'RI', 'MT', 'DE', 'DC', 'AK', 'WY', 'SD', 'VT', 'NE', 'ME',
       'ND', 'ID', 'IA'],
      dtype='object', name='addr_state')