In [5]:
import pandas as pd
df_loan = pd.read_csv("/Users/mxfmeng/Desktop/FinRisk-Prediction/GraduationDesign/MLmodels/dataset/loanData(no preprocessing).csv")
# df_loan.drop(columns=['loan_status','label'], inplace=True)
df_loan

,loan_amnt,term,int_rate,installment,grade,emp_length,home_ownership,annual_inc,verification_status,purpose,...,revol_util,total_acc,total_pymnt,total_rec_late_fee,last_pymnt_amnt,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,label
0,14400.0,60 months,21.00,389.57,E,5 years,MORTGAGE,72000.0,Source Verified,home_improvement,...,50.0,41.0,19971.279988,0.0,10621.60,INDIVIDUAL,0.0,0.0,233557.0,0
1,16800.0,60 months,14.49,395.19,C,8 years,OWN,57000.0,Verified,small_business,...,21.7,27.0,18581.960000,0.0,15420.44,INDIVIDUAL,0.0,0.0,148290.0,0
2,12000.0,60 months,15.61,289.34,D,1 year,RENT,100000.0,Not Verified,credit_card,...,80.2,4.0,857.610000,0.0,289.34,INDIVIDUAL,0.0,0.0,12508.0,1
3,12800.0,60 months,12.99,291.18,C,10+ years,RENT,137000.0,Verified,debt_consolidation,...,51.7,39.0,14210.080000,0.0,11589.46,INDIVIDUAL,0.0,0.0,99900.0,0
4,5000.0,36 months,9.17,159.40,B,10+ years,MORTGAGE,35000.0,Source Verified,home_improvement,...,41.4,21.0,631.230000,0.0,159.40,INDIVIDUAL,0.0,0.0,11891.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
773943,10425.0,36 months,18.25,378.20,D,< 1 year,RENT,35000.0,Not Verified,debt_consolidation,...,83.3,40.0,12179.800000,0.0,8019.60,INDIVIDUAL,0.0,0.0,48219.0,0
773944,7000.0,36 months,19.24,257.45,E,< 1 year,RENT,45000.0,Verified,debt_consolidation,...,38.9,88.0,3081.920000,0.0,257.45,INDIVIDUAL,0.0,0.0,230058.0,1
773945,25000.0,36 months,7.62,779.04,A,9 years,MORTGAGE,74000.0,Verified,debt_consolidation,...,19.8,11.0,27180.990000,0.0,14716.35,INDIVIDUAL,0.0,0.0,29307.0,0
773946,9000.0,36 months,16.55,318.87,D,3 years,RENT,25000.0,Source Verified,debt_consolidation,...,61.3,24.0,1896.670000,0.0,318.87,INDIVIDUAL,0.0,444.0,8300.0,1
773947,20000.0,36 months,12.99,673.79,C,10+ years,MORTGAGE,115000.0,Source Verified,debt_consolidation,...,21.8,29.0,20300.800000,0.0,20315.23,INDIVIDUAL,0.0,0.0,25077.0,0

In [6]:
df_loan['term'].value_counts()

term
 36 months    532288
 60 months    241660
Name: count, dtype: int64

In [7]:
df_loan['grade'].value_counts()

grade
B    220617
C    218883
A    125163
D    122309
E     62290
F     20072
G      4614
Name: count, dtype: int64

In [8]:
df_loan['application_type'].value_counts()

application_type
INDIVIDUAL    773498
JOINT            450
Name: count, dtype: int64

In [19]:
df_loan['purpose'].value_counts()

purpose
debt_consolidation    465406
credit_card           184601
home_improvement       43731
other                  34145
major_purchase         13348
small_business          7241
medical                 6891
car                     6320
moving                  4270
vacation                3840
house                   2883
wedding                  861
renewable_energy         410
educational                1
Name: count, dtype: int64

In [25]:
type(df_loan['loan_amnt'])

pandas.core.series.Series

# 统计 loan_amnt 个区间人数

In [27]:
# 定义区间边界
bins = [i*2000 for i in range(0, int((36000-1000)/2000)+2)]

# 使用pd.cut将数据划分为区间
categorized_data = pd.cut(df_loan['loan_amnt'], bins=bins)

# 统计每个区间的个数
counts = categorized_data.value_counts().sort_index()

loan_amnt
(0, 2000]         10864
(2000, 4000]      34241
(4000, 6000]      68644
(6000, 8000]      67407
(8000, 10000]     94321
(10000, 12000]    80433
(12000, 14000]    40765
(14000, 16000]    85922
(16000, 18000]    43366
(18000, 20000]    62460
(20000, 22000]    28339
(22000, 24000]    34075
(24000, 26000]    31359
(26000, 28000]    22634
(28000, 30000]    22623
(30000, 32000]     6423
(32000, 34000]     4948
(34000, 36000]    35124
Name: count, dtype: int64

In [32]:
print(list(counts.index))

[Interval(0, 2000, closed='right'), Interval(2000, 4000, closed='right'), Interval(4000, 6000, closed='right'), Interval(6000, 8000, closed='right'), Interval(8000, 10000, closed='right'), Interval(10000, 12000, closed='right'), Interval(12000, 14000, closed='right'), Interval(14000, 16000, closed='right'), Interval(16000, 18000, closed='right'), Interval(18000, 20000, closed='right'), Interval(20000, 22000, closed='right'), Interval(22000, 24000, closed='right'), Interval(24000, 26000, closed='right'), Interval(26000, 28000, closed='right'), Interval(28000, 30000, closed='right'), Interval(30000, 32000, closed='right'), Interval(32000, 34000, closed='right'), Interval(34000, 36000, closed='right')]

In [36]:
print(list(range(1000,36000,2000)))

[1000, 3000, 5000, 7000, 9000, 11000, 13000, 15000, 17000, 19000, 21000, 23000, 25000, 27000, 29000, 31000, 33000, 35000]

In [39]:
purposeSer = df_loan['purpose'].value_counts()

In [42]:
print(list(purposeSer.values))

[465406, 184601, 43731, 34145, 13348, 7241, 6891, 6320, 4270, 3840, 2883, 861, 410, 1]

In [43]:
print(list(purposeSer.index))
# { value: 1048, name: 'Search Engine' },

['debt_consolidation', 'credit_card', 'home_improvement', 'other', 'major_purchase', 'small_business', 'medical', 'car', 'moving', 'vacation', 'house', 'wedding', 'renewable_energy', 'educational']

In [45]:
values = list(purposeSer.values)
names = list(purposeSer.index)
for i in range(0,len(values)):
    print("{"+f" value: {values[i]}, name: '{names[i]}' "+"},")

{ value: 465406, name: 'debt_consolidation' },
{ value: 184601, name: 'credit_card' },
{ value: 43731, name: 'home_improvement' },
{ value: 34145, name: 'other' },
{ value: 13348, name: 'major_purchase' },
{ value: 7241, name: 'small_business' },
{ value: 6891, name: 'medical' },
{ value: 6320, name: 'car' },
{ value: 4270, name: 'moving' },
{ value: 3840, name: 'vacation' },
{ value: 2883, name: 'house' },
{ value: 861, name: 'wedding' },
{ value: 410, name: 'renewable_energy' },
{ value: 1, name: 'educational' },