In [2]:
import pandas as pd

In [3]:
columnList = ['loan_amnt', 'term', 'int_rate', 'installment', 'grade', 'emp_length',
       'home_ownership', 'annual_inc', 'verification_status',
       'purpose', 'addr_state', 'dti', 'delinq_2yrs', 'open_acc', 'pub_rec',
       'revol_bal', 'revol_util', 'total_acc', 'total_pymnt',
       'total_rec_late_fee', 'last_pymnt_amnt', 'application_type',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal']
df_loan = pd.read_csv("/Users/mxfmeng/PycharmProjects/GraduationDesign/MLmodels/dataset/loan_old.csv")
df_loan.drop(columns = df_loan.columns.difference(columnList),inplace=True)
df_loan.dropna(inplace=True)
df_loan.info()

/var/folders/8m/6cpmqrns19n25q6dpm3wnyzh0000gn/T/ipykernel_85062/2186751444.py:7: DtypeWarning: Columns (19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  df_loan = pd.read_csv("/Users/mxfmeng/PycharmProjects/GraduationDesign/MLmodels/dataset/loan_old.csv")

<class 'pandas.core.frame.DataFrame'>
Index: 773968 entries, 42535 to 887378
Data columns (total 25 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   loan_amnt            773968 non-null  float64
 1   term                 773968 non-null  object
 2   int_rate             773968 non-null  float64
 3   installment          773968 non-null  float64
 4   grade                773968 non-null  object
 5   emp_length           773968 non-null  object
 6   home_ownership       773968 non-null  object
 7   annual_inc           773968 non-null  float64
 8   verification_status  773968 non-null  object
 9   purpose              773968 non-null  object
 10  addr_state           773968 non-null  object
 11  dti                  773968 non-null  float64
 12  delinq_2yrs          773968 non-null  float64
 13  open_acc             773968 non-null  float64
 14  pub_rec              773968 non-null  float64
 15  revol_bal            773968 non-null  float64
 16  revol_util           773968 non-null  float64
 17  total_acc            773968 non-null  float64
 18  total_pymnt          773968 non-null  float64
 19  total_rec_late_fee   773968 non-null  float64
 20  last_pymnt_amnt      773968 non-null  float64
 21  application_type     773968 non-null  object
 22  acc_now_delinq       773968 non-null  float64
 23  tot_coll_amt         773968 non-null  float64
 24  tot_cur_bal          773968 non-null  float64
dtypes: float64(17), object(8)
memory usage: 153.5+ MB

In [4]:
df_loan

,loan_amnt,term,int_rate,installment,grade,emp_length,home_ownership,annual_inc,verification_status,purpose,...,revol_bal,revol_util,total_acc,total_pymnt,total_rec_late_fee,last_pymnt_amnt,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal
42535,27050.0,36 months,10.99,885.46,B,10+ years,OWN,55000.0,Verified,debt_consolidation,...,36638.0,61.2,27.0,21251.04,0.0,885.46,INDIVIDUAL,0.0,0.0,114834.0
42536,9750.0,36 months,13.98,333.14,C,1 year,RENT,26000.0,Not Verified,debt_consolidation,...,7967.0,52.8,28.0,7994.83,0.0,333.14,INDIVIDUAL,0.0,0.0,14123.0
42537,12000.0,36 months,6.62,368.45,A,10+ years,MORTGAGE,105000.0,Not Verified,debt_consolidation,...,13168.0,21.6,22.0,8842.80,0.0,368.45,INDIVIDUAL,0.0,0.0,267646.0
42538,12000.0,36 months,13.53,407.40,B,10+ years,RENT,40000.0,Source Verified,debt_consolidation,...,5572.0,68.8,32.0,13359.77,0.0,119.17,INDIVIDUAL,0.0,15386.0,13605.0
42539,15000.0,36 months,8.90,476.30,A,2 years,MORTGAGE,63000.0,Not Verified,debt_consolidation,...,11431.0,74.2,29.0,11431.20,0.0,476.30,INDIVIDUAL,0.0,1514.0,272492.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887374,10000.0,36 months,11.99,332.10,B,8 years,RENT,31000.0,Verified,debt_consolidation,...,14037.0,82.1,15.0,3971.88,0.0,332.10,INDIVIDUAL,0.0,0.0,25274.0
887375,24000.0,36 months,11.99,797.03,B,10+ years,MORTGAGE,79000.0,Verified,home_improvement,...,8621.0,84.5,23.0,9532.39,0.0,797.03,INDIVIDUAL,0.0,0.0,140285.0
887376,13000.0,60 months,15.99,316.07,D,5 years,RENT,35000.0,Verified,debt_consolidation,...,11031.0,61.3,22.0,3769.74,0.0,316.07,INDIVIDUAL,0.0,0.0,34178.0
887377,12000.0,60 months,19.99,317.86,E,1 year,RENT,64400.0,Source Verified,debt_consolidation,...,8254.0,30.6,20.0,3787.67,0.0,317.86,INDIVIDUAL,0.0,0.0,58418.0
887378,20000.0,36 months,11.99,664.20,B,10+ years,RENT,100000.0,Verified,credit_card,...,33266.0,79.8,10.0,7943.76,0.0,664.20,INDIVIDUAL,0.0,0.0,33307.0

In [5]:
# keys = df_loan.columns
# values =
selectData = df_loan.iloc[1234]
selectData

loan_amnt                    9000.0
term                      36 months
int_rate                      12.85
installment                   302.6
grade                             B
emp_length                  3 years
home_ownership             MORTGAGE
annual_inc                  70000.0
verification_status    Not Verified
purpose                 credit_card
addr_state                       NY
dti                           15.36
delinq_2yrs                     0.0
open_acc                        8.0
pub_rec                         0.0
revol_bal                   14124.0
revol_util                     90.0
total_acc                      13.0
total_pymnt            10040.262227
total_rec_late_fee              0.0
last_pymnt_amnt             4665.23
application_type         INDIVIDUAL
acc_now_delinq                  0.0
tot_coll_amt                    0.0
tot_cur_bal                 69053.0
Name: 43811, dtype: object

In [6]:
selectData.to_dict()

{'loan_amnt': 9000.0,
 'term': ' 36 months',
 'int_rate': 12.85,
 'installment': 302.6,
 'grade': 'B',
 'emp_length': '3 years',
 'home_ownership': 'MORTGAGE',
 'annual_inc': 70000.0,
 'verification_status': 'Not Verified',
 'purpose': 'credit_card',
 'addr_state': 'NY',
 'dti': 15.36,
 'delinq_2yrs': 0.0,
 'open_acc': 8.0,
 'pub_rec': 0.0,
 'revol_bal': 14124.0,
 'revol_util': 90.0,
 'total_acc': 13.0,
 'total_pymnt': 10040.2622265,
 'total_rec_late_fee': 0.0,
 'last_pymnt_amnt': 4665.23,
 'application_type': 'INDIVIDUAL',
 'acc_now_delinq': 0.0,
 'tot_coll_amt': 0.0,
 'tot_cur_bal': 69053.0}

In [8]:
borrowerInfo = ['emp_length','addr_state','home_ownership','annual_inc','verification_status']
df_loan[borrowerInfo].info()

<class 'pandas.core.frame.DataFrame'>
Index: 773968 entries, 42535 to 887378
Data columns (total 5 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   emp_length           773968 non-null  object
 1   addr_state           773968 non-null  object
 2   home_ownership       773968 non-null  object
 3   annual_inc           773968 non-null  float64
 4   verification_status  773968 non-null  object
dtypes: float64(1), object(4)
memory usage: 35.4+ MB