In [1]:
import pandas as pd
import random
import string

In [2]:
# 删除无关列
df_loan = pd.read_csv("/Users/mxfmeng/Desktop/FinRisk-Prediction/GraduationDesign/MLmodels/dataset/loanData(no preprocessing).csv")
df_loan.dropna(inplace=True)
df_loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 773948 entries, 0 to 773947
Data columns (total 26 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   loan_amnt            773948 non-null  float64
 1   term                 773948 non-null  object
 2   int_rate             773948 non-null  float64
 3   installment          773948 non-null  float64
 4   grade                773948 non-null  object
 5   emp_length           773948 non-null  object
 6   home_ownership       773948 non-null  object
 7   annual_inc           773948 non-null  float64
 8   verification_status  773948 non-null  object
 9   purpose              773948 non-null  object
 10  addr_state           773948 non-null  object
 11  dti                  773948 non-null  float64
 12  delinq_2yrs          773948 non-null  float64
 13  open_acc             773948 non-null  float64
 14  pub_rec              773948 non-null  float64
 15  revol_bal            773948 non-null  float64
 16  revol_util           773948 non-null  float64
 17  total_acc            773948 non-null  float64
 18  total_pymnt          773948 non-null  float64
 19  total_rec_late_fee   773948 non-null  float64
 20  last_pymnt_amnt      773948 non-null  float64
 21  application_type     773948 non-null  object
 22  acc_now_delinq       773948 non-null  float64
 23  tot_coll_amt         773948 non-null  float64
 24  tot_cur_bal          773948 non-null  float64
 25  label                773948 non-null  int64
dtypes: float64(17), int64(1), object(8)
memory usage: 153.5+ MB

In [3]:
DATA_SIZE = 20000
# 借款人信息
borrowerInfo = ['emp_length','addr_state','home_ownership','annual_inc','verification_status']
#财务健康
financialHealthInfo = ['dti', 'delinq_2yrs', 'open_acc', 'pub_rec', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'revol_bal', 'revol_util', 'total_acc', 'total_pymnt', 'total_rec_late_fee', 'last_pymnt_amnt']
# 贷款信息
loanInfo = ['purpose', 'application_type', 'loan_amnt', 'term', 'int_rate', 'installment', 'grade']

In [4]:
df_loan['label'].value_counts()

label
1    564950
0    155886
3     43850
2      9262
Name: count, dtype: int64

In [5]:
groups = df_loan.groupby('label')
databaseSet_df = pd.DataFrame(columns=df_loan.columns)
# 对每个组进行抽样
for label, group in groups:
    # 从每个组中随机抽取5000行数据，并将其添加到抽样数据中
    sampled_rows = group.sample(n=int(DATA_SIZE/4), random_state=123456)
    databaseSet_df = pd.concat([databaseSet_df, sampled_rows])

# 随机打乱抽样数据和剩余数据的顺序
databaseSet_df = databaseSet_df.sample(frac=1).reset_index(drop=True)
databaseSet_df

,loan_amnt,term,int_rate,installment,grade,emp_length,home_ownership,annual_inc,verification_status,purpose,...,revol_util,total_acc,total_pymnt,total_rec_late_fee,last_pymnt_amnt,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,label
0,14500.0,36 months,14.33,497.91,C,< 1 year,RENT,50000.0,Not Verified,debt_consolidation,...,67.9,31.0,13468.24,24.90,400.00,INDIVIDUAL,0.0,0.0,39903.0,3
1,16000.0,36 months,14.64,551.83,C,4 years,MORTGAGE,72000.0,Not Verified,other,...,97.3,21.0,11588.43,0.00,551.83,INDIVIDUAL,0.0,0.0,162438.0,1
2,12000.0,36 months,6.03,365.23,A,2 years,MORTGAGE,200000.0,Not Verified,credit_card,...,0.0,27.0,12176.30,0.00,11445.84,INDIVIDUAL,0.0,0.0,286522.0,0
3,18000.0,36 months,7.89,563.15,A,10+ years,RENT,70000.0,Verified,debt_consolidation,...,97.0,15.0,1697.26,28.16,571.00,INDIVIDUAL,0.0,0.0,63086.0,2
4,11850.0,60 months,24.08,341.46,F,10+ years,MORTGAGE,52000.0,Source Verified,debt_consolidation,...,46.0,37.0,6846.27,17.07,341.46,INDIVIDUAL,0.0,0.0,101490.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,18000.0,36 months,7.69,561.49,A,5 years,MORTGAGE,110000.0,Not Verified,credit_card,...,24.7,28.0,8983.84,0.00,1122.98,INDIVIDUAL,0.0,517.0,271797.0,2
19996,15000.0,60 months,15.61,361.67,D,< 1 year,MORTGAGE,78000.0,Verified,medical,...,70.9,25.0,4701.71,0.00,361.67,INDIVIDUAL,0.0,0.0,221395.0,2
19997,3600.0,36 months,6.24,109.92,A,10+ years,MORTGAGE,75000.0,Source Verified,home_improvement,...,7.2,13.0,0.00,0.00,0.00,INDIVIDUAL,0.0,0.0,166232.0,2
19998,30000.0,60 months,11.99,667.19,B,10+ years,MORTGAGE,95000.0,Source Verified,home_improvement,...,12.6,35.0,14010.99,0.00,667.19,INDIVIDUAL,0.0,78.0,326411.0,2
19999,25000.0,60 months,17.14,623.20,D,4 years,RENT,108000.0,Verified,debt_consolidation,...,55.2,15.0,6831.39,0.00,623.20,INDIVIDUAL,0.0,0.0,42988.0,2

# 将databaseSet_df拆分成生成数据库表格的形式
user,borrower,financial_health,loan

In [6]:
df_user = pd.DataFrame(columns=['userID', 'userName', 'password', 'phone', 'permission'])
# userId
df_user['userID'] = list(range(DATA_SIZE+1, 2*DATA_SIZE+1))
# userName
# 定义生成随机名字的函数
def generate_random_name():
    # 设置名字的长度范围
    name_length = random.randint(5, 8)
    # 从所有的字母中随机选择字符来构建名字
    name = ''.join(random.choice(string.ascii_lowercase) for _ in range(name_length))
    return name.capitalize()  # 首字母大写
# 生成20个随机名字
borrowerNames = [generate_random_name() for _ in range(DATA_SIZE)]
# adminNames = ['Zhang San', 'Li Si', 'Wang Wu', 'Meng XiangFu']
df_user['userName'] = borrowerNames
# password 全设置为123456
df_user['password'] = '123456'

# phone
# 定义手机号的前三位数字和后八位数字范围
prefix = ['135', '136', '137', '138', '139', '144', '147', '148', '150', '151', '152', '157', '158', '159', '172', '178', '182', '183', '184', '187', '188', '195', '197', '198']
# 指定生成的手机号数量
num_phone_numbers = DATA_SIZE
phoneList = []
# 循环生成指定数量的随机手机号
for _ in range(num_phone_numbers):
    suffix = ''.join(random.choices('0123456789', k=8))  # 生成后八位随机数字
    random_phone_number = random.choice(prefix) + suffix  # 随机选择一个前缀，并与后八位数字拼接，得到随机手机号
    phoneList.append(random_phone_number)
df_user['phone'] = phoneList

# permission
df_user['permission'] = 1

df_user

       userID  userName password        phone  permission
0       20001    Czgifw   123456  18254602967           1
1       20002    Ftoqra   123456  15966885272           1
2       20003    Afypgt   123456  18285513243           1
3       20004     Phsyw   123456  13863378151           1
4       20005   Ctfhvge   123456  13984026974           1
...       ...       ...      ...          ...         ...
19995   39996     Xqlko   123456  18884479713           1
19996   39997   Dlgozpd   123456  13703911167           1
19997   39998    Qsxacy   123456  13784711922           1
19998   39999  Xrckphjm   123456  18360319356           1
19999   40000  Aohmcpas   123456  19795595803           1

[20000 rows x 5 columns]

In [7]:
df_user['userName'].value_counts()

userName
Czgifw      1
Olglncir    1
Wvfwf       1
Wqnfcsw     1
Sqtga       1
           ..
Aifykopz    1
Gqwnzvf     1
Zmcoemqs    1
Rdimn       1
Aohmcpas    1
Name: count, Length: 20000, dtype: int64

In [8]:
# 找到第一个重复值的索引
index_to_replace = df_user[df_user['userName'] == 'Vjrhq'].index[0]
df_user.iloc[index_to_replace, df_user.columns.get_loc('userName')] = 'Vjrhq2'

IndexError: index 0 is out of bounds for axis 0 with size 0

In [ ]:
df_user['userName'].value_counts()

In [ ]:
df_user

## borrower 和 fin_health

In [9]:
df_borrower = databaseSet_df[borrowerInfo]
#userID
df_borrower.insert(0, 'userID', df_user['userID'])

df_finHealth = databaseSet_df[financialHealthInfo]
df_finHealth.insert(0, 'userID', df_user['userID'])

# loan 表

In [10]:
df_loanDB = databaseSet_df[loanInfo]
df_loanDB.insert(0, 'loanID', list(range(2*DATA_SIZE+1, 3*DATA_SIZE+1)))
df_loanDB.insert(1, 'userID', df_user['userID'])
df_loanDB

,loanID,userID,purpose,application_type,loan_amnt,term,int_rate,installment,grade
0,40001,20001,debt_consolidation,INDIVIDUAL,14500.0,36 months,14.33,497.91,C
1,40002,20002,other,INDIVIDUAL,16000.0,36 months,14.64,551.83,C
2,40003,20003,credit_card,INDIVIDUAL,12000.0,36 months,6.03,365.23,A
3,40004,20004,debt_consolidation,INDIVIDUAL,18000.0,36 months,7.89,563.15,A
4,40005,20005,debt_consolidation,INDIVIDUAL,11850.0,60 months,24.08,341.46,F
...,...,...,...,...,...,...,...,...,...
19995,59996,39996,credit_card,INDIVIDUAL,18000.0,36 months,7.69,561.49,A
19996,59997,39997,medical,INDIVIDUAL,15000.0,60 months,15.61,361.67,D
19997,59998,39998,home_improvement,INDIVIDUAL,3600.0,36 months,6.24,109.92,A
19998,59999,39999,home_improvement,INDIVIDUAL,30000.0,60 months,11.99,667.19,B
19999,60000,40000,debt_consolidation,INDIVIDUAL,25000.0,60 months,17.14,623.20,D

# 写入mysql

In [11]:
from sqlalchemy import create_engine
# 创建 MySQL 数据库连接
engine = create_engine('mysql+mysqlconnector://root:mxf0222#ABC@localhost/creditRisk')
df_user.to_sql(name='user', con=engine, if_exists='append', index=False)
df_borrower.to_sql(name='borrower', con=engine, if_exists='append', index=False)
df_finHealth.to_sql(name='financial_health', con=engine, if_exists='append', index=False)
df_loanDB.to_sql(name='loan', con=engine, if_exists='append', index=False)

20000