In [118]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from IPython.display import display, Markdown, Latex

sns.set_style('whitegrid')

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report

from sklearn.metrics import f1_score

# 加载数据集
df_loan = pd.read_csv("/Users/mxfmeng/PycharmProjects/GraduationDesign/dataset/loan_new_3_1.csv")
df_loan.drop(columns=['loan_status'],inplace=True)
df_loan.head(7)

,loan_amnt,term,int_rate,installment,grade,emp_length,home_ownership,annual_inc,verification_status,purpose,...,revol_util,total_acc,total_pymnt,total_rec_late_fee,last_pymnt_amnt,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,label
0,27050.0,0,10.99,885.46,4,12,3,55000.0,2,2,...,61.2,27.0,21251.04,0.0,885.46,0,0.0,0.0,114834.0,1
1,9750.0,0,13.98,333.14,3,2,1,26000.0,0,2,...,52.8,28.0,7994.83,0.0,333.14,0,0.0,0.0,14123.0,1
2,12000.0,0,6.62,368.45,5,12,2,105000.0,0,2,...,21.6,22.0,8842.80,0.0,368.45,0,0.0,0.0,267646.0,1
3,12000.0,0,13.53,407.40,4,12,1,40000.0,1,2,...,68.8,32.0,13359.77,0.0,119.17,0,0.0,15386.0,13605.0,0
4,15000.0,0,8.90,476.30,5,3,2,63000.0,0,2,...,74.2,29.0,11431.20,0.0,476.30,0,0.0,1514.0,272492.0,1
5,12000.0,0,11.99,398.52,4,12,2,130000.0,1,2,...,67.0,19.0,9564.40,0.0,398.52,0,0.0,0.0,327264.0,1
6,14000.0,0,12.85,470.71,4,5,1,88000.0,0,2,...,81.9,14.0,11296.94,0.0,470.71,0,0.0,0.0,17672.0,1

# 设置分类器1的target
按label分类，无风险（0）和有风险（1、2、3）分成两类

In [119]:
df_loan['risk'] = df_loan['label'].apply(lambda row: 0 if row == 0 else 1)
df_loan

,loan_amnt,term,int_rate,installment,grade,emp_length,home_ownership,annual_inc,verification_status,purpose,...,total_acc,total_pymnt,total_rec_late_fee,last_pymnt_amnt,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,label,risk
0,27050.0,0,10.99,885.46,4,12,3,55000.0,2,2,...,27.0,21251.04,0.0,885.46,0,0.0,0.0,114834.0,1,1
1,9750.0,0,13.98,333.14,3,2,1,26000.0,0,2,...,28.0,7994.83,0.0,333.14,0,0.0,0.0,14123.0,1,1
2,12000.0,0,6.62,368.45,5,12,2,105000.0,0,2,...,22.0,8842.80,0.0,368.45,0,0.0,0.0,267646.0,1,1
3,12000.0,0,13.53,407.40,4,12,1,40000.0,1,2,...,32.0,13359.77,0.0,119.17,0,0.0,15386.0,13605.0,0,0
4,15000.0,0,8.90,476.30,5,3,2,63000.0,0,2,...,29.0,11431.20,0.0,476.30,0,0.0,1514.0,272492.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
816717,10000.0,0,11.99,332.10,4,9,1,31000.0,2,2,...,15.0,3971.88,0.0,332.10,0,0.0,0.0,25274.0,1,1
816718,24000.0,0,11.99,797.03,4,12,2,79000.0,2,4,...,23.0,9532.39,0.0,797.03,0,0.0,0.0,140285.0,1,1
816719,13000.0,1,15.99,316.07,2,6,1,35000.0,2,2,...,22.0,3769.74,0.0,316.07,0,0.0,0.0,34178.0,1,1
816720,12000.0,1,19.99,317.86,1,2,1,64400.0,1,2,...,20.0,3787.67,0.0,317.86,0,0.0,0.0,58418.0,1,1
816721,20000.0,0,11.99,664.20,4,12,1,100000.0,2,1,...,10.0,7943.76,0.0,664.20,0,0.0,0.0,33307.0,1,1

In [121]:
# 划分 训练集 和 测试集
X_train, X_finalTest, y_train, Y_finalTest = train_test_split(df_loan, df_loan[["risk"]], test_size=0.2, random_state=0)
X_train

,loan_amnt,term,int_rate,installment,grade,emp_length,home_ownership,annual_inc,verification_status,purpose,...,total_acc,total_pymnt,total_rec_late_fee,last_pymnt_amnt,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,label,risk
454497,32200.0,1,12.59,725.91,3,12,2,120000.0,1,2,...,38.0,1429.30,0.0,725.91,0,0.0,0.0,330564.0,1,1
757543,20000.0,1,17.57,503.21,2,6,1,85700.0,1,2,...,39.0,1470.59,0.0,503.21,0,0.0,1509.0,321235.0,3,1
344596,33000.0,1,25.89,985.89,0,12,1,114000.0,2,2,...,27.0,20703.69,0.0,985.89,0,0.0,0.0,88224.0,1,1
38448,22400.0,1,24.08,645.45,0,3,2,110000.0,1,1,...,24.0,8219.21,0.0,645.45,0,0.0,0.0,183061.0,3,1
455665,10000.0,0,9.99,322.63,4,12,1,63000.0,0,7,...,35.0,344.83,0.0,350.38,0,0.0,0.0,59220.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359783,1900.0,0,10.99,62.20,4,8,2,72000.0,1,1,...,31.0,1368.40,0.0,62.20,0,0.0,0.0,151618.0,1,1
152315,9750.0,0,19.05,357.65,2,12,2,72600.0,0,4,...,33.0,10204.45,0.0,9490.19,0,0.0,0.0,264158.0,0,0
117952,20050.0,0,8.90,636.66,5,12,2,46000.0,2,2,...,50.0,21635.77,0.0,636.66,0,0.0,0.0,39997.0,1,1
435829,4000.0,0,15.41,139.47,2,0,2,56000.0,0,2,...,20.0,136.05,0.0,139.47,0,0.0,0.0,246302.0,1,1
305711,27000.0,1,17.57,679.33,2,8,3,85000.0,2,2,...,24.0,27479.02,0.0,5799.69,0,0.0,0.0,509456.0,0,0

# 分类器1：划分"无风险"和"有风险"
模型：KNN，k=30

In [124]:
# 对classifier1的训练集再次划分测试集，用于单独统计正确率
X1_train, X1_test, y1_train, y1_test = train_test_split(X_train.drop(columns=['label','risk']), y_train, test_size=0.2, random_state=0)
classifier1 = KNeighborsClassifier(n_neighbors=30)
classifier1.fit(X1_train,y1_train)
Y1_pred = classifier1.predict(X1_test.values)
print(classification_report(y1_test, Y1_pred))

/Users/mxfmeng/anaconda3/lib/python3.11/site-packages/sklearn/neighbors/_classification.py:228: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
/Users/mxfmeng/anaconda3/lib/python3.11/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

              precision    recall  f1-score   support

           0       0.99      0.71      0.83     25947
           1       0.93      1.00      0.96    104729

    accuracy                           0.94    130676
   macro avg       0.96      0.85      0.90    130676
weighted avg       0.94      0.94      0.94    130676

# 分类器2：将"有风险"的进一步划分成"低"、"中"、"高"
模型：XGBoost

In [129]:
# 筛选出classifier2的训练数据（risk=1）
X2 = X_train[X_train['risk'] == 1]
y2 = X2['label']-1 # {1,2,3} 不合法，转换为{0,1,2}
# 对classifier2的训练集再次划分测试集，用于单独统计正确率
X2_train, X2_test, y2_train, y2_test = train_test_split(X2.drop(columns=['label','risk']), y2, test_size=0.2, random_state=0)

454497    0
757543    2
344596    0
38448     2
455665    0
         ..
122579    0
304137    0
359783    0
117952    0
435829    0
Name: label, Length: 523475, dtype: int64

In [131]:
import xgboost as xgb
classifier2 = xgb.XGBClassifier()
classifier2.fit(X2_train,y2_train)
Y2_pred = classifier2.predict(X2_test.values)
print(classification_report(y2_test, Y2_pred))

              precision    recall  f1-score   support

           0       0.94      1.00      0.97     95603
           1       0.17      0.00      0.00      1588
           2       0.93      0.39      0.55      7504

    accuracy                           0.94    104695
   macro avg       0.68      0.46      0.51    104695
weighted avg       0.93      0.94      0.92    104695

# 连接两个classifier
用之前划分的测试集 X_finalTest 和 y_finalTest ,测试最终效果

In [134]:
y_finalTest = X_finalTest['label']

254394    1
124943    1
330472    1
590460    1
492812    1
         ..
363950    3
214994    1
711135    1
689178    3
815266    1
Name: label, Length: 163345, dtype: int64

In [135]:
y1_output = classifier1.predict(X_finalTest.drop(columns=['risk','label']).values) # y1_output 表示数据是否有风险(0,1)
y1_output

/Users/mxfmeng/anaconda3/lib/python3.11/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

array([1, 1, 1, ..., 1, 1, 1])

In [159]:
# 按预测结果筛选出 classifier2 的 input
X_finalTest['pred'] = y1_output
X2_input = X_finalTest[X_finalTest['pred'] == 1]
X2_input.drop(columns=['label','risk','pred'],inplace=True)
# classifier2 预测分类结果
X2_output = classifier2.predict(X2_input.values)

/var/folders/8m/6cpmqrns19n25q6dpm3wnyzh0000gn/T/ipykernel_2477/2888753945.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X2_input.drop(columns=['label','risk','pred'],inplace=True)

In [157]:
# classifier2 结果
finalRes = pd.DataFrame()
finalRes['result'] = X2_output + 1
finalRes['index'] = X2_input.index
# classifier1 结果
tmp = pd.DataFrame()
tmp['res'] = y1_output
tmp['index'] = X_finalTest.index
tmp = tmp[tmp['res'] == 0]
tmp.rename(columns={'res':'result'}, inplace=True)
# 合并结果
finalRes = pd.concat([finalRes,tmp],ignore_index=True)
finalRes.sort_values(by='index',inplace=True)
finalRes

        result   index
63845        1       6
70458        1       7
154865       0      19
123619       1      31
65811        1      36
...        ...     ...
82066        3  816690
26542        1  816697
133240       1  816702
137839       1  816710
104400       3  816714

[163345 rows x 2 columns]

In [158]:
y_finalTest.sort_index(inplace=True)
print(classification_report(y_finalTest,finalRes['result']))

              precision    recall  f1-score   support

           0       0.99      0.71      0.83     32492
           1       0.89      1.00      0.94    119626
           2       0.02      0.00      0.00      1968
           3       0.67      0.40      0.50      9259

    accuracy                           0.89    163345
   macro avg       0.64      0.53      0.57    163345
weighted avg       0.88      0.89      0.88    163345